## Python Numbers

There are three numeric types in Python:

* int
* float
* complex

Variables of numeric types are created when you assign a value to them:

In [1]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [2]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [3]:
print(x,y,z)

1 2.8 1j

## Type Conversion

You can convert from one type to another with the int(), float(), and complex() methods:

In [4]:
#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [5]:
age=input("Enter age")

Enter age12

In [6]:
type(age)

str

In [7]:
age

'12'

In [8]:
age > 21

TypeError: '>' not supported between instances of 'str' and 'int'

In [9]:
age =int(age)
type(age)

int

In [10]:
age > 21

False

In [14]:
#age = 'twelve' # Note comma or dot not allowed for int conversion
age = '1223342'
age =int(age)

In [15]:
#age = 'twelve' # Note comma not allowed for float conversion
age = '12233.42'
age =float(age)

## Python Casting

### Specify a Variable Type

There may be times when you want to specify a type on to a variable. This can be done with casting. 

Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

* int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

* float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

* str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [16]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(type(z))
print(x,y,z)

<class 'int'>
1 2 3

In [17]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x,y,z,w)
print(type(z))

1.0 2.8 3.0 4.2
<class 'float'>

In [18]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x,y,z)
print(type(z))

s1 2 3.0
<class 'str'>

### Numbers Built-in Methods

In [19]:
# Python Number abs() Method sample code
print("The Value of abs(-45) : ", abs(-45))
print("The Value of abs(100.12) : ", abs(100.12))

The Value of abs(-45) :  45
The Value of abs(100.12) :  100.12

In [20]:
# Python Number round() Method
print("The Value of round(80.23456, 2) : ", round(80.23456, 2))
print("The Value of round(100.000956, 3) : ", round(100.000956, 3))
print("The Value of round(-100.000056, 3) : ", round(-100.000056, 3))

The Value of round(80.23456, 2) :  80.23
The Value of round(100.000956, 3) :  100.001
The Value of round(-100.000056, 3) :  -100.0

In [21]:
print("The Value of round(-987654371.123456, -1) : ", round(-987654371.123456, -1))

The Value of round(-987654371.123456, -1) :  -987654370.0

In [22]:
print("The Value of round(-987654371.123456, -2) : ", round(-987654371.123456, -2))

The Value of round(-987654371.123456, -2) :  -987654400.0

In [23]:
i = -9876543.51
round(i)

-9876544

Random Number
Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [24]:
# generate a random float value between 0 and 1
import random
random.random()

0.16016401231693034

In [25]:
# Python Number choice() Method
import random
print("choice([1, 2, 3, 5, 9]) : ", random.choice([1, 2, 3, 5, 9]))

choice([1, 2, 3, 5, 9]) :  9

In [28]:
print("choice('A String') : ", random.choice('A String'))

choice('A String') :  t

In [29]:
names = ('Amar','Akbar','Antony','Babu')
print(random.choice(names))

Akbar

In [30]:
# Python Number seed() Method
'''
Note: The random number generator needs a number to start with (a seed value), to be able to generate
a random number.By default the random number generator uses the current system time.
The seed() method is used to initialize the random number generator.
If you use the same seed value twice(or more) you will get the same random number twice. See example below
'''
import random
random.seed( 10 )
print("Random number with seed 10 : ", random.random())
# It will generate same random number
random.seed( 20 )
print("Random number with seed 20 : ", random.random())
# It will generate same random number
random.seed( 30 )
print("Random number with seed 30 : ", random.random())

Random number with seed 10 :  0.5714025946899135
Random number with seed 20 :  0.9056396761745207
Random number with seed 30 :  0.5390815646058106

In [31]:
random.seed( 20 )
random.random()

0.9056396761745207

In [32]:
random.seed( 30 )
random.random()

0.5390815646058106

In [33]:
random.random()

0.2891964436397205

In [34]:
# Python Number shuffle(list) Method
import random
list = [20, 16, 10, 5];

In [35]:
random.shuffle(list)
print("Reshuffled list : ",  list)

Reshuffled list :  [16, 5, 10, 20]

In [36]:
random.shuffle(list)
print("Reshuffled list : ",  list)

Reshuffled list :  [20, 5, 16, 10]

# tuple not supported
tuple1 = (1,2,3)
random.shuffle(tuple1)

# TypeError: 'str' object does not support item assignment
str1 = "abcdef"
random.shuffle(str1)

In [37]:
# Python random.uniform() Method
import random
'''
uniform(x, y) Python number method uniform() returns a random float r between x and y.
x − Sets the lower limit of the random float.
y − Sets the upper limit of the random float.

'''
print("Random Float uniform(5, 10) : ",  random.uniform(5, 10))
print("Random Float uniform(7, 14) : ",  random.uniform(7, 14))
print("Random integer uniform(1, 6) : ",  int(random.uniform(1, 6)))

Random Float uniform(5, 10) :  6.8808954820624795
Random Float uniform(7, 14) :  7.938498511326897
Random integer uniform(1, 6) :  1

In [40]:
int(random.uniform(1, 6))

5